<nav class="navbar navbar-expand-sm navbar bg-dark">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand abs" routerLink="">The Salty Sea Dog</a>
    </div>
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item" ><a class="nav-link"  routerLink="about">About</a></li> -->
      <li class="nav-item" ><a class="nav-link" routerLink="beer-tap">Beers On Tap</a></li>
      <li class="nav-item" ><a id="adminLink" class="nav-link" routerLink="admin">Admin</a></li>
    </ul>
  </div>
</nav>

<div style="container">
  <router-outlet></router-outlet>
</div>
